# Lark应用配置
LARK_APP_ID=
LARK_APP_SECRET=
LARK_BASE_URL=https://open.larksuite.com
LARK_SCOPES="wiki:wiki,wiki:wiki:readonly,wiki:space:retrieve,wiki:space:read,wiki:node:retrieve,drive:drive:readonly,docx:document,docx:document:readonly"

# 服务器配置
PORT=3000